/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2-Jan-2017, 3:59:21 PM
    Author     : Harley Vanselow
*/

.pageContent{
    height:2400px;
}
.full-card{
    margin:0 auto;
    margin-top:100px;
    max-width: 80vw;
}
.descriptiveText{
    font-size:30px;
    line-height:34px;
    padding-left:30px;
    padding-right:30px;
}
.descriptiveTextList{
    font-size:30px;
    line-height:34px;
    margin-bottom: 0;
}

.mdl-navigation__link,.mdl-layout-title{
    font-size:30px;
}

.card-content{
    display:table-cell;
    width:78vw;
    min-height:0%;
    padding-top: 20px;
    padding-bottom:20px;
}

.card-title{
    min-width: 20vw;
    vertical-align:bottom;
    padding-left:1%;
    padding-right:1%;
    display: table-cell;
    min-height: 0%;
}

.iconSelectorContainer{
    width:100%;
}

.icon{
    height:100%;
    width:100%;
}
.iconContainer{
    height: 210px;
    width: 100%;
}

.selectorContainer{
    clear:both;
    height:10px;
    width:100%;
    margin-top:5px;
}
.mdl-layout__header-row{
    padding-left: 10px;
    padding-right:10px;
}
.selector{
    position:relative;
    width: 18%;
    margin-left:1%;
    margin-right:1%;
    height: 100%;
    float:left;
    visibility:hidden;
}
.imageWrapper{
    width: 18%;
    margin-left:1%;
    margin-right:1%;
    height: 100%;
    float:left;
}
.active-selector{
    visibility:visible;
}


